body {
  font-size: 20px;
  font-family: Helvetica, sans-serif; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem; }

.calculator {
  min-width: 16rem;
  border-radius: 1rem;
  border: 2px solid rgba(245, 245, 245, 0.808);
  padding: 1rem;
  box-shadow: 1px 1px 24px 5px gray; }

.result {
  margin: 0.2rem auto 1.8rem; }
  .result input[type="text"] {
    border-radius: 1rem;
    height: 2.6rem;
    padding: 0 .5rem;
    width: 16rem;
    font-family: inherit;
    font-size: 1.1rem;
    border: 2px solid rgba(245, 245, 245, 0.808);
    box-shadow: inset 1px 2px 12px -2px gray;
    -moz-appearance: textfield; }

.button-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

button {
  background-color: white;
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  border: 2px solid rgba(245, 245, 245, 0.808);
  box-shadow: 1px 2px 12px -2px gray;
  display: block;
  font-size: 1rem;
  transition: 2s ease-in-out box-shadow; }

button:active {
  box-shadow: inset 1px 2px 12px -2px gray; }

.last-row {
  display: flex;
  justify-content: center;
  position: relative; }

.active {
  background-color: rgba(228, 228, 228, 0.863);
  border: 2px solid rgba(228, 228, 228, 0.863) !important;
  color: #f0b623; }

.toggle {
  position: absolute;
  top: 30%;
  left: 10%;
  height: 2.2rem;
  width: 4rem;
  transform: translate(-50%, -50%);
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.692), 7px 7px 15px rgba(70, 70, 70, 0.356);
  border-radius: 25%;
  display: flex;
  align-items: center; }
  .toggle input[type="checkbox"] {
    position: absolute;
    -webkit-appearance: none;
    height: 2.1rem;
    width: 3.9rem;
    border: 5px #ececec;
    box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65), 7px 7px 15px rgba(70, 70, 70, 0.12), inset -7px -7px 15px rgba(255, 255, 255, 0.65), inset 7px 7px 15px rgba(70, 70, 70, 0.12);
    outline: none;
    cursor: pointer;
    border-radius: 25%; }
  .toggle input[type="checkbox"]::before,
  .toggle input[type="checkbox"]::after {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: .3s; }
  .toggle input[type="checkbox"]::before {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ccc;
    box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.75), 7px 7px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    left: 0; }
  .toggle input[type="checkbox"]::after {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #4a474e;
    left: 0;
    border-radius: 50%; }
  .toggle input[type="checkbox"]:checked:after {
    left: 2rem;
    background-color: #fbd144; }
  .toggle input[type="checkbox"]:checked::before {
    background-color: #fbd144;
    left: 2rem; }
