$btn-color:rgb(255, 255, 255);
$btn-radius:50%;
$btn-border-color: rgba(245, 245, 245, 0.808);
$shadow-main:1px 1px 24px 5px  gray ;
$shadow-btn:1px 2px 12px -2px  gray ;
$active-color:rgba(228, 228, 228, 0.863);

body{
font-size: 20px;
font-family:  Helvetica, sans-serif;
}

.container{
display: flex;
align-items: center;
justify-content: center;
margin: 2rem;

}
.calculator{
min-width:16rem;
border-radius: 1rem;
border:2px solid $btn-border-color ;
padding: 1rem;
box-shadow: $shadow-main ;
}
.result{
    margin: 0.2rem auto 1.8rem ;

    input[type="text"]{
       border-radius: 1rem;
        height: 2.6rem;
        padding: 0 .5rem;
        width: 16rem;
        font-family: inherit ;
        font-size: 1.1rem;
        border: 2px solid $btn-border-color;
        box-shadow:inset $shadow-btn ;
        -moz-appearance: textfield;
    }
  
}
.buttons{

}
.button-row{
margin-bottom: 1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
}
button{
    background-color: $btn-color;
    border-radius: $btn-radius;
    width: 3.3rem;
    height: 3.3rem;
    border: 2px solid $btn-border-color;
    box-shadow: $shadow-btn;
    display: block;
    font-size: 1rem;
    transition: 2s ease-in-out box-shadow;
} 
button:active{
  
    box-shadow:inset $shadow-btn;
  }
.last-row{
display: flex;
justify-content: center;
}
.active{
    background-color: $active-color;
    border:2px solid $active-color   !important;
    color: rgb(240, 182, 35);
}